/*通用css*/
* {
  box-sizing: border-box;
}
ul,
li,
p,
body,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  font-size: 14px;
  font-family: "microsoft yahei";
}
.container {
  width: 1380px;
  margin: 0 auto;
}
.lf {
  float: left;
}
.rf {
  float: right;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.middle {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  vertical-align: bottom;
}
em {
  font-family: "\9ED1\4F53", "CourierNewPSMT";
  font-style: normal;
}
/*倒三角*/
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
/*圆红点点*/
.circle {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #F45910;
  vertical-align: super;
  margin-bottom: 4px;
}
.caret-left {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-left: 4px solid #699F00;
  border-right: 4px solid transparent;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.bofang {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #ddd;
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.bofang > span {
  margin-left: 4.5px;
}
.previous {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  left: 0;
  width: 25px;
  height: 44px;
  background: #000;
  opacity: 0.6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.previous .triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -4px;
  width: 16px;
  height: 16px;
  transform: rotate(-45deg);
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}
.next {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  right: 0;
  width: 25px;
  height: 44px;
  background: #000;
  opacity: 0.6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.next .triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -11px;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}
.big-play {
  width: 32px;
  height: 27px;
  background: #7fc100;
  border-radius: 5px;
  position: relative;
  margin-right: 10px;
}
.big-play > .triangle-white {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3px;
  margin-top: -8px;
  width: 0;
  height: 0;
  border: 8px solid #fff;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
