/*通用css*/
* {
  box-sizing: border-box;
}
ul,
li,
p,
body,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  font: 14px/1.5 Tahoma, Helvetica, Arial, "\5FAE\8F6F\96C5\9ED1", sans-serif;
}
.container {
  width: 970px;
  margin: 0 auto;
}
.lf {
  float: left;
}
.rf {
  float: right;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  vertical-align: bottom;
}
.b-title b {
  display: inline-block;
  width: 40px;
  height: 36px;
  background: url(../img/help/icon-help.png) 0 -50px;
}
.b-title span {
  vertical-align: top;
  font-size: 20px;
  margin-top: 5px;
  display: inline-block;
}
.b-title .rf {
  color: #5FA92A;
}
/*导航条*/
#navbar {
  background: #222222;
  text-align: center;
  height: 46px;
  width: 100%;
}
#navbar .logo {
  margin-top: 4px;
}
#navbar .search input {
  height: 30px;
  width: 230px;
  padding: 5px;
  border: 1px solid #5AA700;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background: #E3E3E3;
  outline: none;
}
#navbar .search input:hover {
  background: #fff;
}
#navbar .search input:focus {
  background: #fff;
}
/*搜索框的按钮*/
#search {
  margin-top: 8px;
  margin-left: 161px;
}
#search > div {
  width: 36px;
  height: 30px;
  background: url(../img/help/srch_btn-new.png);
}
/*导航栏中的标签页*/
#navbar .nav-tab li {
  float: left;
  color: #fff;
  line-height: 50px;
  margin-left: 15px;
}
#navbar .nav-tab li a {
  color: #fff;
  cursor: pointer;
}
#business {
  background: #f6f6f5 url(../img/help/helpBanner.jpg) no-repeat;
}
#business .container {
  padding-top: 30px;
}
#business .search {
  margin-left: 180px;
}
#business .search input {
  width: 470px;
  height: 40px;
  padding: 5px;
  border: 1px solid #5AA700;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: none;
}
#business .search > div {
  width: 140px;
  height: 40px;
  background: #5AA700;
}
#business .search > div > div {
  width: 20px;
  height: 20px;
  background: url(../img/help/search.png);
  margin-left: 30px;
  margin-top: 10px;
}
#business .search > div p {
  font-size: 18px;
  margin-top: 6px;
  margin-left: 5px;
  color: #fff;
}
#business .title {
  margin: 30px 0;
}
#business .title span {
  font-size: 20px;
  margin-left: 20px;
}
#business .pic {
  padding: 0 20px;
}
#business .pic > div {
  float: left;
  width: 25%;
  text-align: center;
  margin-bottom: 20px;
}
#business .pic > div > p {
  font-size: 18px;
  margin-top: 15px;
}
#business .pic > div:nth-child(5),
#business .pic > div:nth-child(6),
#business .pic > div:nth-child(7),
#business .pic > div:nth-child(8) {
  margin-bottom: 6px;
}
#byself .icon {
  margin: 20px 0;
}
#byself .icon b {
  display: inline-block;
  width: 40px;
  height: 34px;
  background: url(../img/help/icon-help.png) 0 -100px;
}
#byself .icon span {
  font-size: 20px;
  vertical-align: top;
  margin-top: 2px;
  display: inline-block;
  margin-left: 15px;
}
#byself .main {
  margin-left: 15px;
}
#byself .main > div {
  float: left;
  padding: 19px 15px;
  border: 1px solid #B7E071;
  margin-right: 15px;
  width: 223.5px;
  margin-bottom: 15px;
}
#byself .main > div > div {
  float: left;
}
#byself .main > div > .left {
  margin-top: 14px;
}
#byself .main > div > .right {
  width: 126px;
  margin-left: 15px;
}
#byself .main > div > .right p {
  color: #999999;
}
#byself .main > div > .right h4 {
  margin: 0;
  margin-bottom: 15px;
  font-weight: normal;
}
#byself .main > div:hover {
  box-shadow: 1px 1px 1px #ddd;
}
#question {
  margin-top: 5px;
}
#question .container {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}
#question .container ul {
  padding: 15px 0;
  padding-bottom: 0;
}
#question .container ul li {
  float: left;
  width: 50%;
  margin-bottom: 10px;
}
#question .container ul li b {
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #99D337;
  vertical-align: middle;
  margin-right: 5px;
}
#question .container ul li.margin {
  margin-bottom: 0;
}
#contact .container {
  padding: 20px 0;
}
#contact .container .b-title {
  margin-bottom: 20px;
}
#contact .container .b-title b {
  vertical-align: text-bottom;
  margin-bottom: 5px;
  height: 33px;
  background: url(../img/help/icon-help.png);
}
#contact .container .content > div {
  width: 33%;
  text-align: left;
  padding-left: 90px;
}
#contact .container .content > div > div {
  margin-bottom: 10px;
}
#contact .container .content > div > div span {
  color: #999;
}
#contact .container .content > div > div i {
  font-style: normal;
  padding: 5px 10px;
  background: #5AA700;
  border-radius: 5px;
  color: #fff;
}
#contact .container .content > div > div b {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/help/icon-help.png) 0 -150px;
  vertical-align: middle;
  margin-right: 5px;
}
#contact .container .content > div:nth-child(2) {
  border-right: 1px dotted #ddd;
  border-left: 1px dotted #ddd;
}
#footer {
  border-top: 1px solid #aaa;
  margin: 30px 0;
}
#footer .container {
  width: 970px;
  margin: 0 auto;
  text-align: center;
}
#footer .container ul {
  margin: 30px 0 15px 215px;
}
#footer .container ul li {
  width: 90px;
  float: left;
}
#footer .container ul li b {
  border-right: 1px solid #aaa;
  margin-left: 10px;
}
#footer .container div {
  color: #999999;
}
